/* Colors */

:root {
  --x-color: lightgreen;
  --o-color: pink;
  --win-color: cornflowerblue;
}

.X {
  background-color: var(--x-color);
}

.O {
  background-color: var(--o-color);
}

.win {
  background-color: var(--win-color);
}

/* Board layout */

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  width: min(100%, 500px);
}

.tile {
  border: 1px solid black;
  aspect-ratio: 1;
  min-width: 86px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 75px;
}

/* Controls layout */

.start {
  margin: 1rem 0;
}

.info.bold {
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 1rem;
  align-self: center;
}

.controls input {
  margin-bottom: .3rem;
}

/* Page layout */

body {
  display: flex;
  justify-content: center;
}

@media (max-width: 710px) {
  body {
    flex-direction: column-reverse;
    align-items: center;
  }
}